# Crime in India

In [ ]:
# Phase 1 (Data collection preparation part)
#Note: 
#You can collect data from anywhere (wiki, google, etc) but mention the link from where data is being collected.
#You can collect the data manually. It's NOT a web scraping task.
#Data should be collected for the years mentioned in the files. (If you don't find proper data, make your best judgment and fill it, It's absolutely OK. Do not worry about data accuracy)
#The population of each state.
#Literacy Rate in each state
#Area of each state
#Collect any other data that helps with your analysis. There is no limitation for anything.
#Create a new file and keep the above-collected data.

In [ ]:
#Data collected from https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_crime_rate and cencus_2011

In [1]:
import pandas as pd

In [2]:
population_data=pd.read_excel(r'C:/Users/HP/Desktop/Learning-2023/Phase 1 Population data.xlsx')

In [3]:
population_data.head()

   #          State  Population  Area(Km2)  Literacy
0  -          India  1210854977    3287240     74.04
1  1  Uttar Pradesh   199812341     240928     67.68
2  2    Maharashtra   112374333     307713     82.34
3  3          Bihar   104099452      94163     61.80
4  4    West Bengal    91276115      88752     76.26

In [5]:
population_data.tail()

     #                        State  Population  Area(Km2)  Literacy
31  31                       Sikkim      610577       7096     81.42
32  32  Andaman and Nicobar Islands      380581       8249     86.63
33  33       Dadra and Nagar Haveli      343709        491     76.24
34  34                Daman and Diu      243247        111     87.10
35  35                  Lakshadweep       64473         30     91.85

In [6]:
population_data.shape

(36, 5)

In [8]:
population_data.describe()

         Population     Area(Km2)   Literacy
count  3.600000e+01  3.600000e+01  36.000000
mean   6.726972e+07  1.826308e+05  77.746389
std    2.008793e+08  5.419553e+05   8.493907
min    6.447300e+04  3.000000e+01  61.800000
25%    1.439840e+06  9.926750e+03  71.712500
50%    2.106970e+07  5.457800e+04  76.600000
75%    6.295858e+07  1.647280e+05  85.900000
max    1.210855e+09  3.287240e+06  94.000000

In [9]:
population_data.columns

Index(['#', 'State', 'Population', 'Area(Km2)', 'Literacy'], dtype='object')

In [11]:
population_data.dtypes

#              object
State          object
Population      int64
Area(Km2)       int64
Literacy      float64
dtype: object

In [12]:
population_data.isnull().sum()

#             0
State         0
Population    0
Area(Km2)     0
Literacy      0
dtype: int64

In [16]:
population_data.nunique()

#             36
State         36
Population    36
Area(Km2)     36
Literacy      36
dtype: int64